.serviceimg{
    margin-top: 30px;
    width: 100%;
    height: 400px;
}
.workleft{
    text-align: justify;
}
.webdevelopment{
  text-align: justify;  
}
.digitalmarketing{
    text-align: justify;
}
.mobileapp{
    text-align: justify;
}
.searchengine{

    text-align: justify;
}